In [2]:
import numpy as np
import pandas as pd
from selenium import webdriver

#
#
# RUN SELENIUM

In [3]:
driver = webdriver.Chrome(r"/Users/jarkrunglerdkriangkrai/Github/setscraping/chromedriver")
driver

#
#
# GET DATA

In [4]:
driver.get('http://siamchart.com/stock/')

In [ ]:
data = driver.page_source

#
#
# CONVERT TO DATAFRAME

In [8]:
pd.read_html(data)[2]

,Name,No.,Links,Sign,Last,Chg%,Volume,Value (k),MCap (M),P/E,...,ROA%,ROE%,NPM%,Yield%,FFloat%,MG%,Magic1,Magic2,PEG,CG
0,Average,NaN,NaN,NaN,19.61,-1.84,9886973.13,91250.04,25590.92,35.30,...,5.54,7.22,12.11,0.10,41.42,NaN,617.79,615.04,1.99,NaN
1,24CS,1.0,i,NaN,3.08,-3.14,2673100.00,8265.00,0.00,NaN,...,NaN,NaN,NaN,-,30.23,NaN,NaN,NaN,NaN,NaN
2,2S,2.0,i | 1 | 2 | 3,NaN,3.32,-2.35,185700.00,620.00,1826.00,NaN,...,-2.64,-4.19,-2.68,12.57,57.50,NaN,NaN,NaN,NaN,NaN
3,3K-BAT,3.0,i | 1 | 3,NaN,62.25,-2.73,400.00,25.00,4880.00,15.76,...,10.38,13.01,5.35,0.48,2.10,NaN,481.00,450.00,0.16,NaN
4,7UP,4.0,i | 1 | 2 | 3,NaN,0.79,-2.47,17166900.00,13793.00,4063.00,119.95,...,0.31,1.32,-12.96,NaN,63.37,NaN,1209.00,1263.00,-4.96,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,YGG,818.0,i | 1 | 3,NaN,8.35,-1.18,1369800.00,11462.00,5027.00,41.33,...,23.60,24.66,36.59,0.83,45.15,NaN,563.00,514.00,0.51,NaN
819,YONG,819.0,i,NaN,2.32,-1.69,20294000.00,47442.00,1578.00,17.81,...,9.49,11.42,9.25,NaN,27.24,NaN,562.00,508.00,NaN,NaN
820,YUASA,820.0,i | 1 | 3,NaN,16.50,22.22,7703400.00,126827.00,1776.00,16.93,...,8.95,11.03,4.15,2.16,15.27,NaN,556.00,511.00,-28.12,NaN
821,ZEN,821.0,i | 1 | 3,NaN,17.20,-5.49,996600.00,17370.00,5160.00,47.56,...,7.31,9.29,4.02,NaN,27.34,NaN,855.00,807.00,-2.76,NaN
822,ZIGA,822.0,i | 1 | 2 | 3,NaN,3.50,-1.69,3762500.00,13341.00,2472.00,NaN,...,-1.92,-5.63,-11.38,2.57,60.69,NaN,NaN,NaN,NaN,NaN

In [22]:
df = pd.read_html(data)[2].drop(['No.','Links','CG','Sign','MG%'],axis=1).tail(-1).set_index('Name')
df

,Last,Chg%,Volume,Value (k),MCap (M),P/E,P/BV,D/E,DPS,EPS,ROA%,ROE%,NPM%,Yield%,FFloat%,Magic1,Magic2,PEG
Name,,,,,,,,,,,,,,,,,,
24CS,3.08,-3.14,2673100.0,8265.0,0.0,NaN,-,NaN,-,0.00,NaN,NaN,NaN,-,30.23,NaN,NaN,NaN
2S,3.32,-2.35,185700.0,620.0,1826.0,NaN,0.91,0.26,0.27,0.00,-2.64,-4.19,-2.68,12.57,57.50,NaN,NaN,NaN
3K-BAT,62.25,-2.73,400.0,25.0,4880.0,15.76,2.05,0.65,0.06,3.95,10.38,13.01,5.35,0.48,2.10,481.0,450.0,0.16
7UP,0.79,-2.47,17166900.0,13793.0,4063.0,119.95,1.61,0.38,NaN,0.01,0.31,1.32,-12.96,NaN,63.37,1209.0,1263.0,-4.96
A,5.00,-0.99,3100.0,16.0,4900.0,NaN,1.54,3.42,NaN,0.00,2.11,-2.60,2.87,NaN,24.92,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YGG,8.35,-1.18,1369800.0,11462.0,5027.0,41.33,8.27,0.05,0.08,0.20,23.60,24.66,36.59,0.83,45.15,563.0,514.0,0.51
YONG,2.32,-1.69,20294000.0,47442.0,1578.0,17.81,1.97,0.63,NaN,0.13,9.49,11.42,9.25,NaN,27.24,562.0,508.0,NaN
YUASA,16.50,22.22,7703400.0,126827.0,1776.0,16.93,1.80,0.59,0.29,0.97,8.95,11.03,4.15,2.16,15.27,556.0,511.0,-28.12
ZEN,17.20,-5.49,996600.0,17370.0,5160.0,47.56,4.22,1.10,NaN,0.36,7.31,9.29,4.02,NaN,27.34,855.0,807.0,-2.76
ZIGA,3.50,-1.69,3762500.0,13341.0,2472.0,NaN,2.46,1.03,NaN,0.00,-1.92,-5.63,-11.38,2.57,60.69,NaN,NaN,NaN